@import '../../index';

.Slider{
    $Control-width: 50px;

    width: 100%;
    padding: 20px 15px;
    &__Wrapper{
        @include container-w-max-min(1400px, 290px);
        height: 100px;
        margin: 0 auto;
        @include horizontal-vertical-center;
        position: relative;
        top: 0;
        left: 0;
        .Control{
            @include container-w-h($Control-width, 100%);
            @include horizontal-vertical-center;
            background: rgb(9,9,121);
            position: absolute;
            top: 0;
            &--Left{
                background: linear-gradient(90deg, rgba(255,255,255,1) 12%, rgba(255,255,255,0.73) 50%, rgba(0,212,255,0) 100%); 
                left: 0;
            }
            &--Right{
                background: linear-gradient(270deg, rgba(255,255,255,1) 12%, rgba(255,255,255,0.73) 50%, rgba(0,212,255,0) 100%); 
                right: 0;
            }
            z-index: 15;
            &__Icon{
                font-size: 2rem;
            }
            &:hover{
                background: rgba($color: #000000, $alpha: 0.6);
                .Control__Icon{
                    color: white;
                }
            }
        }
        .Slides-container{
            width: 100%;
            overflow: hidden;
            .Slides-Wrap{
                height: 100px;
                @include vertical-center;
                overflow-x: hidden;
                .Slide{
                    width: 240px;
                    min-width: 240px;
                    min-height: 100%;
                    margin: 0 20px;
                    // transition: .3s ease all;
                    @include horizontal-vertical-center;
                }
            }
        }
    }
}