@import '../../index';

.Slider{
    $Control-width: 50px;

    width: 100%;
    padding: 20px 15px;
    &__Wrapper{
        @include container-w-max-min(1400px, 290px);
        height: 100px;
        margin: 0 auto;
        @include horizontal-vertical-center;
        overflow: hidden;
        .Control{
            @include container-w-h($Control-width, 100%)
        }
        .Slides-container{
            width: calc(100% - ($Control-width * 2));
            overflow-x: scroll;
            .Slides-Wrap{
                @include vertical-center;
                .Slide-Img{
                    margin: 0 20px;
                    @include horizontal-vertical-center;
                    &--main{
                        @include container-w-h(300px, 100%);
                    }
                    &--simple{
                        @include container-w-h(200Px, 100%);
                    }
                }
            }
        }
    }
}